h1 {
  font-family: "Bungee Shade", cursive;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: black
}

#viewtext {
  font-family: 'Montserrat', sans-serif;
  color: black

}

#listings {
  padding: 1vh 1vw;
}

#form {
  font-family: 'Montserrat', sans-serif;
  color: black;
display: flex;
display: block;
align-items: column;
}